.speech {
   font-family: "Gill Sans Extrabold", sans-serif;
   color:black;
   font-size: 12px;
}
.direction {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    background-color: lightgreen;
}
.direction:hover {
    color:red;
    background-color: blanchedalmond;
}
.billing {
    color:crimson;
}
.hovstad {
    color:blue;
}
table {
    border-collapse: collapse;
}
th {
    color:seagreen
}
th,td {
    border:solid;
    border-color: black;
    padding:20px 100px;
    text-align:left;
}
tr:nth-child(even) {
    background-color:lightgrey;
  }
.Navbar-horizontal {
    list-style-type: none;
    padding:0;
    margin:0;
}
.Navbar-horizontal li {
    float:left;
    padding:10px;
    border:solid;
    background-color:lightblue;
}
.Navbar-horizontal a {
    text-decoration: none;
    color:black;
}
